Repository isaac-levine/leadform-5mon9u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ai-team, @frontend-team, @sdk-team, @devops-team, @security-team, @architecture-team

Add public-samples/leadform-5mon9u/.github/dependabot.yml
  .github/dependabot.yml
Owners: @project-leads

Add public-samples/leadform-5mon9u/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @project-leads

Add public-samples/leadform-5mon9u/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/leadform-5mon9u/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team

Add public-samples/leadform-5mon9u/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team

Add public-samples/leadform-5mon9u/.github/workflows/security.yml
  .github/workflows/security.yml
Owners: @devops-team

Add public-samples/leadform-5mon9u/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @project-leads

Add public-samples/leadform-5mon9u/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @project-leads

Add public-samples/leadform-5mon9u/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @project-leads

Add public-samples/leadform-5mon9u/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @project-leads

Add public-samples/leadform-5mon9u/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/grafana/dashboards/ai-metrics.json
  infrastructure/docker/monitoring/grafana/dashboards/ai-metrics.json
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/grafana/dashboards/api-metrics.json
  infrastructure/docker/monitoring/grafana/dashboards/api-metrics.json
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/grafana/dashboards/form-metrics.json
  infrastructure/docker/monitoring/grafana/dashboards/form-metrics.json
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/grafana/dashboards/sms-metrics.json
  infrastructure/docker/monitoring/grafana/dashboards/sms-metrics.json
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/grafana/provisioning/dashboards.yaml
  infrastructure/docker/monitoring/grafana/provisioning/dashboards.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/grafana/provisioning/datasources.yaml
  infrastructure/docker/monitoring/grafana/provisioning/datasources.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/prometheus/prometheus.yml
  infrastructure/docker/monitoring/prometheus/prometheus.yml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/prometheus/rules/alerts.yml
  infrastructure/docker/monitoring/prometheus/rules/alerts.yml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/docker/monitoring/prometheus/rules/recording.yml
  infrastructure/docker/monitoring/prometheus/rules/recording.yml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/base/namespaces.yaml
  infrastructure/kubernetes/base/namespaces.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/base/storage-classes.yaml
  infrastructure/kubernetes/base/storage-classes.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/databases/mongodb.yaml
  infrastructure/kubernetes/databases/mongodb.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/databases/postgresql.yaml
  infrastructure/kubernetes/databases/postgresql.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/databases/redis.yaml
  infrastructure/kubernetes/databases/redis.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/ingress/cert-manager.yaml
  infrastructure/kubernetes/ingress/cert-manager.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/ingress/nginx-ingress.yaml
  infrastructure/kubernetes/ingress/nginx-ingress.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/logging/elasticsearch.yaml
  infrastructure/kubernetes/logging/elasticsearch.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/logging/fluentd.yaml
  infrastructure/kubernetes/logging/fluentd.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/logging/kibana.yaml
  infrastructure/kubernetes/logging/kibana.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/monitoring/jaeger.yaml
  infrastructure/kubernetes/monitoring/jaeger.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/secrets/app-secrets.yaml
  infrastructure/kubernetes/secrets/app-secrets.yaml
Owners: @security-team, @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/secrets/aws-secrets.yaml
  infrastructure/kubernetes/secrets/aws-secrets.yaml
Owners: @security-team, @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/services/ai-service.yaml
  infrastructure/kubernetes/services/ai-service.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/services/analytics-service.yaml
  infrastructure/kubernetes/services/analytics-service.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/services/form-service.yaml
  infrastructure/kubernetes/services/form-service.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/services/gateway-service.yaml
  infrastructure/kubernetes/services/gateway-service.yaml
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/kubernetes/services/sms-service.yaml
  infrastructure/kubernetes/services/sms-service.yaml
Owners: @devops-team

.github/CODEOWNERS:

# This file defines code ownership rules for the AI-SMS Lead Platform repository.
# Each line assigns ownership of specific paths to teams or individuals.
# Format: path_pattern @owner1 @owner2

# Global ownership - Project leads have oversight over all repository changes
* @project-leads

# Backend service ownership
src/backend/ @backend-team

# AI service specific ownership
src/backend/services/ai/ @ai-team

# Frontend application ownership
src/web/ @frontend-team

# Form widget joint ownership between Frontend and SDK teams
src/web/widget/ @frontend-team @sdk-team

# Infrastructure configuration ownership
infrastructure/ @devops-team

# CI/CD workflow configuration ownership
.github/workflows/ @devops-team

# Kubernetes secrets joint ownership between Security and DevOps
infrastructure/kubernetes/secrets/ @security-team @devops-team

# Shared backend code joint ownership
src/backend/shared/ @backend-team @architecture-team

# Shared frontend utilities joint ownership
src/web/src/lib/ @frontend-team @architecture-team
