Repository isaac-levine/leadform-5mon9u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ai-team, @frontend-team, @sdk-team, @devops-team, @security-team, @architecture-team

.github/CODEOWNERS:

# This file defines code ownership rules for the AI-SMS Lead Platform repository.
# Each line assigns ownership of specific paths to teams or individuals.
# Format: path_pattern @owner1 @owner2

# Global ownership - Project leads have oversight over all repository changes
* @project-leads

# Backend service ownership
src/backend/ @backend-team

# AI service specific ownership
src/backend/services/ai/ @ai-team

# Frontend application ownership
src/web/ @frontend-team

# Form widget joint ownership between Frontend and SDK teams
src/web/widget/ @frontend-team @sdk-team

# Infrastructure configuration ownership
infrastructure/ @devops-team

# CI/CD workflow configuration ownership
.github/workflows/ @devops-team

# Kubernetes secrets joint ownership between Security and DevOps
infrastructure/kubernetes/secrets/ @security-team @devops-team

# Shared backend code joint ownership
src/backend/shared/ @backend-team @architecture-team

# Shared frontend utilities joint ownership
src/web/src/lib/ @frontend-team @architecture-team

Add public-samples/leadform-5mon9u/infrastructure/scripts/aws-setup.sh
  infrastructure/scripts/aws-setup.sh
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/scripts/k8s-setup.sh
  infrastructure/scripts/k8s-setup.sh
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/terraform/aws/backend.tf
  infrastructure/terraform/aws/backend.tf
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/terraform/aws/providers.tf
  infrastructure/terraform/aws/providers.tf
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/terraform/aws/ecr/main.tf
  infrastructure/terraform/aws/ecr/main.tf
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/terraform/aws/eks/main.tf
  infrastructure/terraform/aws/eks/main.tf
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/terraform/aws/rds/main.tf
  infrastructure/terraform/aws/rds/main.tf
Owners: @devops-team

Add public-samples/leadform-5mon9u/infrastructure/terraform/aws/vpc/main.tf
  infrastructure/terraform/aws/vpc/main.tf
Owners: @devops-team

Add public-samples/leadform-5mon9u/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/.eslintrc.js
  src/backend/.eslintrc.js
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/lerna.json
  src/backend/lerna.json
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/migrations/mongo/001_indexes.js
  src/backend/migrations/mongo/001_indexes.js
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/migrations/mongo/002_message_schema.js
  src/backend/migrations/mongo/002_message_schema.js
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/migrations/postgres/001_initial_schema.sql
  src/backend/migrations/postgres/001_initial_schema.sql
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/migrations/postgres/002_form_tables.sql
  src/backend/migrations/postgres/002_form_tables.sql
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/migrations/postgres/003_conversation_tables.sql
  src/backend/migrations/postgres/003_conversation_tables.sql
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/openapi/ai-service.yaml
  src/backend/openapi/ai-service.yaml
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/openapi/analytics-service.yaml
  src/backend/openapi/analytics-service.yaml
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/openapi/form-service.yaml
  src/backend/openapi/form-service.yaml
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/openapi/sms-service.yaml
  src/backend/openapi/sms-service.yaml
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/proto/ai.proto
  src/backend/proto/ai.proto
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/proto/analytics.proto
  src/backend/proto/analytics.proto
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/proto/form.proto
  src/backend/proto/form.proto
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/proto/sms.proto
  src/backend/proto/sms.proto
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/scripts/build.sh
  src/backend/scripts/build.sh
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/scripts/migration.sh
  src/backend/scripts/migration.sh
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/scripts/setup.sh
  src/backend/scripts/setup.sh
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/scripts/test.sh
  src/backend/scripts/test.sh
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/ai/Dockerfile
  src/backend/services/ai/Dockerfile
Owners: @ai-team
