Repository isaac-levine/leadform-5mon9u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ai-team, @frontend-team, @sdk-team, @devops-team, @security-team, @architecture-team

.github/CODEOWNERS:

# This file defines code ownership rules for the AI-SMS Lead Platform repository.
# Each line assigns ownership of specific paths to teams or individuals.
# Format: path_pattern @owner1 @owner2

# Global ownership - Project leads have oversight over all repository changes
* @project-leads

# Backend service ownership
src/backend/ @backend-team

# AI service specific ownership
src/backend/services/ai/ @ai-team

# Frontend application ownership
src/web/ @frontend-team

# Form widget joint ownership between Frontend and SDK teams
src/web/widget/ @frontend-team @sdk-team

# Infrastructure configuration ownership
infrastructure/ @devops-team

# CI/CD workflow configuration ownership
.github/workflows/ @devops-team

# Kubernetes secrets joint ownership between Security and DevOps
infrastructure/kubernetes/secrets/ @security-team @devops-team

# Shared backend code joint ownership
src/backend/shared/ @backend-team @architecture-team

# Shared frontend utilities joint ownership
src/web/src/lib/ @frontend-team @architecture-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/app.ts
  src/backend/services/gateway/src/app.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/index.ts
  src/backend/services/gateway/src/index.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/config/index.ts
  src/backend/services/gateway/src/config/index.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/middleware/auth.middleware.ts
  src/backend/services/gateway/src/middleware/auth.middleware.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/middleware/ratelimit.middleware.ts
  src/backend/services/gateway/src/middleware/ratelimit.middleware.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/routes/ai.routes.ts
  src/backend/services/gateway/src/routes/ai.routes.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/routes/form.routes.ts
  src/backend/services/gateway/src/routes/form.routes.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/routes/sms.routes.ts
  src/backend/services/gateway/src/routes/sms.routes.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/src/services/auth.service.ts
  src/backend/services/gateway/src/services/auth.service.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/gateway/tests/routes.test.ts
  src/backend/services/gateway/tests/routes.test.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/Dockerfile
  src/backend/services/sms/Dockerfile
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/package.json
  src/backend/services/sms/package.json
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/app.ts
  src/backend/services/sms/src/app.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/index.ts
  src/backend/services/sms/src/index.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/config/index.ts
  src/backend/services/sms/src/config/index.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/controllers/conversation.controller.ts
  src/backend/services/sms/src/controllers/conversation.controller.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/controllers/message.controller.ts
  src/backend/services/sms/src/controllers/message.controller.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/models/conversation.model.ts
  src/backend/services/sms/src/models/conversation.model.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/models/message.model.ts
  src/backend/services/sms/src/models/message.model.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/queues/message.queue.ts
  src/backend/services/sms/src/queues/message.queue.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/routes/conversation.routes.ts
  src/backend/services/sms/src/routes/conversation.routes.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/routes/message.routes.ts
  src/backend/services/sms/src/routes/message.routes.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/services/messagebird.service.ts
  src/backend/services/sms/src/services/messagebird.service.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/src/services/twilio.service.ts
  src/backend/services/sms/src/services/twilio.service.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/tests/conversation.test.ts
  src/backend/services/sms/tests/conversation.test.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/services/sms/tests/message.test.ts
  src/backend/services/sms/tests/message.test.ts
Owners: @backend-team

Add public-samples/leadform-5mon9u/src/backend/shared/constants/index.ts
  src/backend/shared/constants/index.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/middleware/error.middleware.ts
  src/backend/shared/middleware/error.middleware.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/middleware/logging.middleware.ts
  src/backend/shared/middleware/logging.middleware.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/types/analytics.types.ts
  src/backend/shared/types/analytics.types.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/types/form.types.ts
  src/backend/shared/types/form.types.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/types/index.ts
  src/backend/shared/types/index.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/types/sms.types.ts
  src/backend/shared/types/sms.types.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/utils/error-handler.ts
  src/backend/shared/utils/error-handler.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/utils/logger.ts
  src/backend/shared/utils/logger.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/backend/shared/utils/validation.ts
  src/backend/shared/utils/validation.ts
Owners: @backend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team
