Repository isaac-levine/leadform-5mon9u, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @backend-team, @ai-team, @frontend-team, @sdk-team, @devops-team, @security-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/hooks/useConversation.ts
  src/web/src/hooks/useConversation.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/hooks/useForm.ts
  src/web/src/hooks/useForm.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/hooks/useWebSocket.ts
  src/web/src/hooks/useWebSocket.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/lib/api/analytics.ts
  src/web/src/lib/api/analytics.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/api/auth.ts
  src/web/src/lib/api/auth.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/api/conversations.ts
  src/web/src/lib/api/conversations.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/api/forms.ts
  src/web/src/lib/api/forms.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/constants/analytics.ts
  src/web/src/lib/constants/analytics.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/constants/forms.ts
  src/web/src/lib/constants/forms.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/constants/messages.ts
  src/web/src/lib/constants/messages.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/utils/analytics.ts
  src/web/src/lib/utils/analytics.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/utils/formatting.ts
  src/web/src/lib/utils/formatting.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/lib/utils/validation.ts
  src/web/src/lib/utils/validation.ts
Owners: @frontend-team, @architecture-team

Add public-samples/leadform-5mon9u/src/web/src/store/index.ts
  src/web/src/store/index.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/store/slices/analyticsSlice.ts
  src/web/src/store/slices/analyticsSlice.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/store/slices/authSlice.ts
  src/web/src/store/slices/authSlice.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/store/slices/conversationSlice.ts
  src/web/src/store/slices/conversationSlice.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/store/slices/formSlice.ts
  src/web/src/store/slices/formSlice.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/styles/analytics.css
  src/web/src/styles/analytics.css
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/styles/conversations.css
  src/web/src/styles/conversations.css
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/styles/forms.css
  src/web/src/styles/forms.css
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/styles/globals.css
  src/web/src/styles/globals.css
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/types/analytics.ts
  src/web/src/types/analytics.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/types/auth.ts
  src/web/src/types/auth.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/types/conversation.ts
  src/web/src/types/conversation.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/src/types/form.ts
  src/web/src/types/form.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/tests/components/analytics/MetricsOverview.test.tsx
  src/web/tests/components/analytics/MetricsOverview.test.tsx
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/tests/components/conversations/ConversationList.test.tsx
  src/web/tests/components/conversations/ConversationList.test.tsx
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/tests/components/forms/FormBuilder.test.tsx
  src/web/tests/components/forms/FormBuilder.test.tsx
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/tests/hooks/useAnalytics.test.ts
  src/web/tests/hooks/useAnalytics.test.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/tests/hooks/useConversation.test.ts
  src/web/tests/hooks/useConversation.test.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/tests/hooks/useForm.test.ts
  src/web/tests/hooks/useForm.test.ts
Owners: @frontend-team

Add public-samples/leadform-5mon9u/src/web/widget/FormWidget.tsx
  src/web/widget/FormWidget.tsx
Owners: @frontend-team, @sdk-team

Add public-samples/leadform-5mon9u/src/web/widget/README.md
  src/web/widget/README.md
Owners: @frontend-team, @sdk-team

Add public-samples/leadform-5mon9u/src/web/widget/package.json
  src/web/widget/package.json
Owners: @frontend-team, @sdk-team

Add public-samples/leadform-5mon9u/src/web/widget/styles.css
  src/web/widget/styles.css
Owners: @frontend-team, @sdk-team

Add public-samples/leadform-5mon9u/src/web/widget/tsconfig.json
  src/web/widget/tsconfig.json
Owners: @frontend-team, @sdk-team

Add public-samples/leadform-5mon9u/src/web/widget/types.ts
  src/web/widget/types.ts
Owners: @frontend-team, @sdk-team

Add public-samples/leadform-5mon9u/src/web/widget/validation.ts
  src/web/widget/validation.ts
Owners: @frontend-team, @sdk-team

.github/CODEOWNERS:

# This file defines code ownership rules for the AI-SMS Lead Platform repository.
# Each line assigns ownership of specific paths to teams or individuals.
# Format: path_pattern @owner1 @owner2

# Global ownership - Project leads have oversight over all repository changes
* @project-leads

# Backend service ownership
src/backend/ @backend-team

# AI service specific ownership
src/backend/services/ai/ @ai-team

# Frontend application ownership
src/web/ @frontend-team

# Form widget joint ownership between Frontend and SDK teams
src/web/widget/ @frontend-team @sdk-team

# Infrastructure configuration ownership
infrastructure/ @devops-team

# CI/CD workflow configuration ownership
.github/workflows/ @devops-team

# Kubernetes secrets joint ownership between Security and DevOps
infrastructure/kubernetes/secrets/ @security-team @devops-team

# Shared backend code joint ownership
src/backend/shared/ @backend-team @architecture-team

# Shared frontend utilities joint ownership
src/web/src/lib/ @frontend-team @architecture-team
